@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="help-section" class="container-fluid Hero-Eight-Container">

    <div class="card form_card">
        <div class="card-body">
            <div class="row">

                <div class="col-md-7">
                    <div class="ml-3 mb-4">
                        <h1 class="card-title Contact_Form_heading">Start Your Free Trial Today</h1>
                        <p class="card-text Contact_Form_sub_heading">Send your info to us</p>

                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="password" class="form-control" placeholder="Enter password" name="pswd">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="password" class="form-control" placeholder="Enter password" name="pswd">
                                </div>

                                <div class="col-md-12 mb-3">
                                    <textarea class="form-control" style="height: 200px!important;">Message</textarea>
                                </div>

                                <div class="col-md-12 mb-3 text-center">
                                    <button class="btn btn-default ContactUsButton button_text">Contact Us</button>
                                </div>

                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="col-md-5">
                    <div class="ml-3 mb-4">
                        <h1 class="card-title Contact_Form_heading">Contact Us</h1>
                        <ul class="courses-link-list">
                            <li style="padding-top: 30px;">
                                <a href="#">
                                    <i class="fas fa-phone mr-2"></i><b class="Footer_list_text">Call us at:</b>
                                    <span s class="Footer_Sub_list_text">978-499-9014</span>
                                </a>
                            </li>


                            <li style="padding-top: 20px;">
                                <a href="#">
                                    <i class="fas fa-map-marker  mr-2"></i><b class="Footer_list_text">Visit us at:</b>
                                    <span class="col-10 Footer_Sub_list_text" style="left: 10px!important;">
                                        Projectdog, Inc 18 Graf Road, Suite 8 Newburyport, MA 01950
                                        <br />
                                        M-F  9:00AM - 5:00PM
                                    </span>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>


            </div>

        </div>


    </div>

</div>

