@{
    Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}

<style>
    .proImg{
        display:none;
    }
</style>

<div class="form container">

    <div class="form-wrapper" style="border-radius: 15px">

        <div class="px-5 pt-5 pb-3">
            <h4 class="ForgotPas_Text">Forget Password?</h4>

        </div>

        <div class="horizental-devider"></div>

        <div class="tab-content">


            <div id="login" style="display: block;">
                <form action="/home/resetpassword">

                    <div class="form-group mb-5">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Enter email" id="email">
                    </div>

                    <div class="form-group form-check col-12">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"><span class="CheckBox_text">By signing in to Projectdog, You agree to our</span>
                            <br />
                            <a class="Terms_Text">Terms & Condition</a>
                        </label>
                    </div>

                     <div class="text-center mt-4">
                        <button  class="btn btn-default Reset_Button">Get Reset Link</button>
                    </div> 
                    @* <div class="text-center mt-4">
                    <a href="/home/ResetPassword" class="btn btn-default Reset_Button">Get Reset Link</a>
                    </div> *@



                </form>

            </div>
           




        </div><!-- tab-content -->
    </div>

</div>
