@{
    Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}

<style>
    
</style>


<div class="form container">



    <div class="form-wrapper" style="border-radius: 15px">

        <ul class="tab-group">

            <div class="d-flex tab-group-Top">
            <li class="tab active tab_text"><a href="#login">Sign In</a></li>
            <li class="tab tab_text"><a href="#signup">Sign Up</a></li>

            </div>            
    </ul>



    <div class="horizental-devider"></div>

    <div class="tab-content py-5">


        <div id="login">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="Enter email" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                </div>

                <div class="mb-4">
                    <p>
                        <span class="Forgot_text mr-2">Forgot your password?</span> <a href="@Url.Action("ForgetPassword","Home")"> <span class="Terms_Text">Click Here</span>  </a>
                    </p>
                </div>
                <div class="text-center mb-4">
                    <button type="submit" class="btn btn-default signInButton">Sign In</button>
                </div>


                <div class="form-group form-check col-12">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"><span class="CheckBox_text">By signing in to Projectdog, You agree to our</span>
                        <br />
                        <a class="Terms_Text">Terms & Conditions</a>
                    </label>
                </div>
            </form>

        </div>


        <div id="signup">
            <form action="/action_page.php">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Company</label>
                            <input type="text" class="form-control" placeholder="Company">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control" placeholder="State">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Zip Code</label>
                            <input type="text" class="form-control" placeholder="Zip Code">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" class="form-control" placeholder="Country">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email (Username)</label>
                            <input type="text" class="form-control" placeholder="Email (Username)">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="my-4 col-8 p-1">
                    <p>
                        <a>
                            <span class="loginparagraph">For the purposes of authentication, using your email and password is the equivalent as your signature while utilizing </span><span class="projectdogtext">Projectdog.com</span>
                        </a>
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="email">Select how you would like your signature to be presented.</label>
                            <select class="form-control" placeholder="Enter email" id="email"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <img src="~/Images/Upload Icon.png" />
                    </div>
                    <div class="col-md-6 p-0">
                        <p class="mt-4 signature_text">Add a customer signature image.</p>
                    </div>
                </div>

                <div class="form-group form-check col-12">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"><span class="CheckBox_text">By signing in to Projectdog, You agree to our</span>
                        <br />
                        <a class="Terms_Text">Terms & Condition</a>
                    </label>
                </div>


                <div class="text-center mb-4">
                    <button type="submit" class="btn btn-default GetCodeButton">Get Code</button>
                </div>




            </form>

        </div>

    </div>
    </div>

</div>




