@{
    Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}

<style>
    .proImg {
        display: none;
    }
</style>

<div class="form container">

    <div class="form-wrapper" style="border-radius: 15px">

        <div class="px-5 pt-5 pb-3">
            <h4 class="Codetext">Code Sent</h4>

        </div>

        <div class="horizental-devider"></div>

        <div class="tab-content">


            <div id="login" style="display: block;" class="col-12">
                <form action="/action_page.php">

                    <div class="form-group mb-5">
                        <label for="email">Text Code</label>
                        <input type="email" class="form-control" placeholder="Enter Code" id="email">
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-default Register_button">Register</button>
                    </div>



                </form>

            </div>




        </div><!-- tab-content -->
    </div>

</div> 