@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="video_section">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      
        .con{
            margin-left:500px;
        }
        h1 {
            font-size: 2.5rem;
            color: #333;
        }

        p {
            font-size: 1.25rem;
            color: #555;
        }

        .construction-icon {
            font-size: 5rem;
            color: #ffcc00;
        }

            .construction-icon img {
                width: 200px;
                margin-left:170px;
            }

    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
    }
    </style>
<body>
    <div class="container con">
        <div class="construction-icon mb-4">
           
            <img src="https://t3.ftcdn.net/jpg/00/77/28/46/240_F_77284689_QcebzpP6dvdfNnsJSHa8QtCUGcfXfFhw.jpg" alt="Under Construction Icon">            
        </div>
        <h1>Coming Soon</h1>
        <p>We're working hard to bring you a great experience. Please check back soon.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</div>