

<style>
    .btn-Search {
        background-color: #01518F !important;
        width: 141px !important;
        height: 48px !important;
        color: #fff !important;
        border-radius: 100px;
    }

    .Box_Container {
        background-color: #F9F9F9;
        border-radius: 10px;
        border: 1px solid #EBEBEB;
    
    }
</style>


<div class="my-3 px-4 mb-4">
    <h3>Projectdog,Inc</h3>
    <h5>Eric Carpenter</h5>

</div>

<div class="row mx-4 py-5 px-3 Box_Container">

    <div class="col-md-8">
        <form class="form-horizontal">

            <div class="row">


                <div class="col-md-6">

                    <h6 class="mb-4"><b>Refine Search:</b></h6>


                    <div class="form-row mb-3">
                        <h6 class="col-sm-4 col-form-label">City</h6>
                        <div class="col">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <h6 class="col-sm-4 col-form-label">State</h6>
                        <div class="col">
                            <input type="text" class="form-control">
                        </div>
                    </div>


                    <div class="form-row mb-3">
                        <h6 class="col-sm-4 col-form-label">Project Details KW</h6>
                        <div class="col">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <h6 class="my-4"><b>Limit Search by Date:</b></h6>


                    <div class="form-row mb-3">
                        <h6 class="col-sm-4 col-form-label">From</h6>
                        <div class="col">
                            <input type="date" class="form-control">
                        </div>
                    </div>



                    <div class="form-row mb-3">
                        <h6 class="col-sm-4 col-form-label">To</h6>
                        <div class="col">
                            <input type="date" class="form-control">
                        </div>
                    </div>



                    <div class="form-group my-5">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                            <h6 for="customCheckbox1" class="custom-control-label">Limit search to only projects added within the last 5 days.</h6>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox2">
                            <h6 for="customCheckbox2" class="custom-control-label">Limit search to only projects with documents.</h6>
                        </div>

                    </div>



                    <div class="form-row mb-3">
                        <button class="btn-Search btn btn-default">Search</button>
                    </div>


                </div>




            </div>
        </form>
    </div>


</div>
