<style>
    .info-box {
        display: block !important;
        background-color: #F9F9F9;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
    }

        .info-box h4 {
            margin-bottom: 15px;
        }

    .info-item {
        margin-bottom: 10px;
    }

        .info-item span {
            font-weight: bold;
        }
</style>
<div class="container-fluid pt-4 px-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="my-3">Contact Us</h3>
            <p class="lead text-left mt-4 mb-4">We love to hear from our clients. If you have any questions or concerns contact us today!</p>
            <div class="info-box text-left p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="info-item mb-3">
                            <span class="font-weight-bold">Call Us At:</span>
                            &nbsp;
                            <span class="text-primary">978-499-9014</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="info-item mb-3">
                            <span class="font-weight-bold">Visit Us At:</span>
                            <span class="text-muted">Projectdog, Inc., 18 Graf Road, Suite 8, Newburyport, MA 01950</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="info-item mb-3">
                            <span class="font-weight-bold">Office Hours:</span>
                            <span class="text-muted">M-F 9:00AM - 5:00PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
