<style>

    .h5, h5 {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
    }
    .h6, h6 {
        font-weight:bold;
    }
    .section-title {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .list-group-item {
        cursor: pointer;
    }

        .list-group-item:hover {
            background-color: #f8f9fa;
        }
    .list-group ul li a{
        color: #495057;
    }
</style>
    <div class="container-fluid pt-4 px-5">
        <h3 class="my-3">Downloads and Resources</h3>

        <h5 class="" style="text-align: left;">Tutorials/Verbiage/Templates</h5>
        <div class="list-group">
            <a class="list-group-item list-group-item-action">
            <h5>Tutorials & Forms</h5>
            </a>
            <div class="list-group-item list-group-item-action">
                <h6>Vendors</h6>
                <ul class="list-group list-group-flush ms-3">
                    <li class="list-group-item">
                        <a href="~/files/E-BiddingTutorial_000.pdf" download>Supplemental Instructions To Bidders for Electronic Bid Projects Updated 11/6/17
                        </a>
                    </li>
                    <li class="list-group-item"><a href="~/files/CashBidBondAffidavit_000.pdf" download>Cash Bid Bond Affidavit Updated 3/6/18</a></li>
                    <li class="list-group-item"><a href="~/files/BidderReferenceFill-InForm.pdf" download>Reference Form Updated 11/8/19</a></li>
                    <li class="list-group-item"><a href="http://youtu.be/sN8rgXz2wd4" target="_blank"> How to Submit an Electronic Bid (E-Bid)</a></li>
                    <li class="list-group-item"><a href="http://youtu.be/ClBeFs16pOw" target="_blank">Electronic Signatures and Adobe Digital IDs</a></li>
                </ul>
            </div>
            <div class="list-group-item list-group-item-action">
                <h6>Agencies</h6>
                <ul class="list-group list-group-flush ms-3">
                    <li class="list-group-item"><a href="~/files/ProjectCodes.pdf" download>Project Codes Updated 11/6/17</a></li>
                </ul>
            </div>
            <div class="list-group-item list-group-item-action">
                <h6>MA Publications Worksheets</h6>
                <ul class="list-group list-group-flush ms-3">
                    <li class="list-group-item"><a href="~/files/MACentralRegisterGeneralContractCR2Worksheet.xlsx" download>Central Register General Contract (CR-2) Worksheet</a></li>
                    <li class="list-group-item"><a href="~/files/MACentralRegisterDesignerServicesCR1Worksheet.xlsx" download>Central Register Designer Services (CR-1) Worksheet</a></li>
                    <li class="list-group-item"><a href="~/files/MAGoodsandServicesBulletinWorksheet.xlsx" download>Goods and Services Bulletin Worksheet</a></li>
                    <li class="list-group-item"><a href="~/files/Upload_Instructions.pdf" download>Upload Instructions Updated 11/6/17</a></li>
                    <li class="list-group-item"><a href="http://youtu.be/ap65fOR8jJY" target="_blank">Sub E-Bid Review for Awarding Authorities</a></li>
                </ul>
            </div>
            <a class="list-group-item list-group-item-action">
                <h5>Project Manual Verbiage</h5>
            </a>
            <div class="list-group-item list-group-item-action">
                <h6>E-Hosting</h6>
                <ul class="list-group list-group-flush ms-3">
                    <li class="list-group-item"><a href="~/files/Projectdog_Project_Hosting_003.docx" download>Project Hosting Updated 5/21/20</a></li>
                </ul>
            </div>
            <div class="list-group-item list-group-item-action">
                <h6>E-Hosting with E-Bidding</h6>
                <ul class="list-group list-group-flush ms-3">
                    <li class="list-group-item"><a href="~/files/Projectdog_Electronic_Pre-Qualification_004.docx" download>Electronic Pre-Qualification Updated 5/24/21</a></li>
                    <li class="list-group-item"><a href="~/files/Projectdog_Electronic_Proposal_Submission_004.docx" download>Electronic Proposal Submission Updated 5/24/21</a></li>
                    <li class="list-group-item"><a href="~/files/Projectdog_Electronic_Bidding_005.docx" download>Electronic Bidding Updated 5/24/21</a></li>
                    <li class="list-group-item"><a href="~/files/Projectdog_Electronic_Bidding_Trade_Only_001.docx" download>Electronic Bidding (Trade Bids Only) Updated 5/24/21</a></li>
                </ul>
            </div>
            <div class="list-group-item list-group-item-action">
                <h5>MA DHCD/HUD Templates</h5>
            </div>
            <div class="list-group-item list-group-item-action">
                <ul class="list-group list-group-flush ms-3">
                    <li class="list-group-item"><a href="~/files/DHCDReferenceForm-Fill-In.zip" download>Reference Form (DHCD) Updated 12/28/20</a></li>
                    <h6 style="margin: 20px 0px 0px 0px;">DHCD, MGL c.149</h6>
                        <ul class="list-group list-group-flush ms-3">
                            <li class="list-group-item"><a href="~/files/10k50k149DHCD-ProjectdogFront-EndDocuments_77.docx" download>$10K - $50K Updated 7/7/21</a></li>
                            <li class="list-group-item"><a href="~/files/c30s39mOver50KEOHLC-Projectdog5-1-2024.zip" download>$50K - $150K Updated 5/1/24</a></li>
                            <li class="list-group-item"><a href="~/files/c149_150K-10M_eBidProjectdog_10-15-2021.zip" download>$150K - $10M Updated 10/15/21</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                    <h6>DHCD, MGL c.30 s39m Site Work</h6>
                        <ul class="list-group list-group-flush ms-3">
                            <li class="list-group-item"><a href="~/files/10k50k3039mDHCD-ProjectdogFront-EndDocuments_77.docx" download>$10K - $50K Updated 7/7/21</a></li>
                            <li class="list-group-item"><a href="~/files/c14950K-150KEOHLC-Projectdog5-1-2024.zip" download>$50K or More Updated 5/1/24</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                    <h6>HUD, MGL c.149</h6>
                        <ul class="list-group list-group-flush ms-3">
                            <li class="list-group-item"><a href="~/files/hud149_under150k.zip" download>$25K - $150K Updated 10/15/21</a></li>
                            <li class="list-group-item"><a href="~/files/hud149_150k-10m.zip" download>$150K - $10M Updated 10/15/21</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                    <h6>HUD, MGL c.30 s39m Site Work</h6>
                        <ul class="list-group list-group-flush ms-3">
                            <li class="list-group-item"><a href="~/files/hud3039m_under50k.zip" download>$10K - $50K Updated 10/15/21</a></li>
                            <li class="list-group-item"><a href="~/files/hud3039m_over50k.zip" download>$50K or More Updated 10/15/21</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

@* 
    <footer class="mt-5 py-3 bg-light text-center">
        Allow sufficient time to upload and review all your documents and data before close of bid.
        For audio and visual E-Bid support please review our YouTube clips online or call for support 978-499-9014.
    </footer>
 *@