<style>
    .main-content {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .section-title {
        margin-bottom: 1.5rem;
        text-align:center;
    }

    .section-subtitle {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .contact-info {
        margin-top: 1rem;
    }
</style>
<div class="container-fluid px-5 main-content">
    <h3 class="my-3">Employment</h3>

    <p class="lead">Looking for a great professional opportunity and a high quality of life? Here's what Projectdog has to offer:</p>

    <h3 class="section-subtitle">Immediate Openings Available!</h3>

    <ul class="list-group">
        <li class="list-group-item">A Progressive, Creative Environment</li>
        <li class="list-group-item">Projectdog values the contributions and problem-solving skills of all team members and offers on-the-job training.</li>
    </ul>

    <p class="contact-info">Send Resumes to: <a href="mailto:frontdesk@projectdog.com">frontdesk@projectdog.com</a></p>
</div>
