<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        .list-group-item {
            cursor: pointer;
            padding-top:20px;
        }

            .list-group-item:hover {
                background-color: #f8f9fa;
            }

        .collapse {
            transition: height 0.35s ease;
            margin-left:2.5rem;
        }

        footer {
            margin-top: 2rem;
            padding: 1rem 0;
            background-color: #f8f9fa;
            text-align: center;
            font-size: 0.9rem;
            color: #6c757d;
        }

    </style>
</head>
<body>
    <div class="container-fluid pt-4 px-5">
        <h3 class="my-3">Frequently Asked Questions</h3>

        <div class="list-group">
            <a href="#shortExampleAnswer1collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Browser POP UP Issue: I can’t add a file via your upload link?</h5>
                </div>
                <p class="mb-1" style="margin-left: 1.5rem;">
                    Browsers have changed their default pop-up blocker to not allow pop-ups. Edit your browser settings as follows:
                </p>
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer1collapse">
                    <ul>
                        <li>Open your browser settings</li>
                        <li>Locate and select “Privacy and Security” settings/link</li>
                        <li>Scroll down and locate “Pop-up and redirects”</li>
                        <li>Select “Allowed” this will enable pop-ups tools to function.</li>
                    </ul>
                </div>
            </a>

            <!-- Q- 1 -->
            <a href="#shortExampleAnswer2collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer2collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">I’m not comfortable with adobe pdf signature do I have to use it?</h5>
                </div>
               @*  <p class="mb-1">
                    NO, Print the page, complete all areas. Scan the document to a .pdf file for upload.
                </p> *@
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer2collapse">
                    NO, Print the page, complete all areas. Scan the document to a .pdf file for upload.
                </div>
            </a>

            <!-- Q- 2 -->
             <a href="#shortExampleAnswer3collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer3collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Can I use the bid form that states it is a sample document?</h5>
                </div>
               
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer3collapse">
                    NO – Use only the pdf file from the download page “GC Bid Form Signature Page” or “Sub Bid Form Signature Pages” ONLY.
                </div>
            </a>

            <!-- Q- 3 -->
             <a href="#shortExampleAnswer4collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer4collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Should I enter anything in an optional online field like NO, NONE, NOT APPLICABLE, n/a?</h5>
                </div>
               
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer4collapse">
                    NO, it should be left blank.
                </div>
            </a>
             <!-- Q- 4 -->
             <a href="#shortExampleAnswer5collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer5collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">How do I clear or edit my bid after I submitted it?</h5>
                </div>
               
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer5collapse">
                    Select “Retract” and then you can replace any files and edit all online content.
                </div>
            </a>

             <!-- Q- 5 -->
             <a href="#shortExampleAnswer6collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer6collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">I got a notice that action may be required due to an addendum after I submitted my bid. I do not see the addendum listed on my page?</h5>
                </div>
               
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer6collapse">
                    Retract your bid and the new Addendum will be listed. Review and acknowledge it and Submit your bid.
                </div>
            </a>

            <!-- Q- 6 -->
             <a href="#shortExampleAnswer7collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer6collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">How do I review my bid after I have submitted it?</h5>
                </div>
               
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer7collapse">
                    After you submit your bid, select the link on the bottom of the page “View My Bid Package”.
                </div>
            </a>
            
            <!-- Q- 7 -->
             <a href="#shortExampleAnswer8collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer8collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">I do not see Part 1-7 of my bid in my bid package from the “View My Bid Package” link?</h5>
                </div>
               
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer8collapse">
                    This is NOT part of the publicly opened information. Review your file from the “Review File” to ensure its accuracy for the owners group.
                </div>
            </a>
            
            <!-- Q- 8 -->
             <a href="#shortExampleAnswer9collapse" data-bs-toggle="collapse" aria-expanded="false"
               aria-controls="shortExampleAnswer9collapse" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">When I try to upload a file, I get a message “Please upload a valid PDF file” Why?</h5>
                </div>
               
                <!-- Collapsed content -->
                <div class="collapse mt-3" id="shortExampleAnswer9collapse">
                    You are trying to upload an unsupported file format, corrupt file, or lost your internet connection while uploading. Save only .pdf files
                </div>
            </a>

            <!-- Add more FAQs in similar structure -->
        </div>
    </div>

    <footer>
        Allow sufficient time to upload and review all your documents and data before close of bid.
        For audio and visual E-Bid support please review our YouTube clips online or call for support 978-499-9014.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
