

<div class="container-fluid pt-4 px-5">
    <div class="row">
        <div class="col-md-12">
            <h3>My Information</h3>
            <div class="contanier pt-4 px-4 my-4" style="background-color:#F9F9F9!important">
                <form class="form-horizontal">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">First Name:</label>
                                <div class="col">
                                    <input type="text" placeholder="First name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Last Name:</label>
                                <div class="col">
                                    <input type="text" placeholder="Last name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Company Name:</label>
                                <div class="col">
                                    <input type="text" placeholder="Company name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Email:</label>
                                <div class="col">
                                    <input type="text" placeholder="Email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Address:</label>
                                <div class="col">
                                    <input type="text" placeholder="Address" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Line 2:</label>
                                <div class="col">
                                    <input type="text" placeholder="Line 2" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">City:</label>
                                <div class="col">
                                    <input type="text" placeholder="City" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">State:</label>
                                <div class="col">
                                    <select class="form-control">
                                        <option value="">Select a State</option>
                                        <option selected="selected" value="AK">AK</option>
                                        <option value="AL">AL</option>
                                        <option value="AR">AR</option>
                                        <option value="AZ">AZ</option>
                                        <option value="CA">CA</option>
                                        <option value="CO">CO</option>
                                        <option value="CT">CT</option>
                                        <option value="DC">DC</option>
                                        <option value="DE">DE</option>
                                        <option value="FL">FL</option>
                                        <option value="GA">GA</option>
                                        <option value="HI">HI</option>
                                        <option value="IA">IA</option>
                                        <option value="ID">ID</option>
                                        <option value="IL">IL</option>
                                        <option value="IN">IN</option>
                                        <option value="KS">KS</option>
                                        <option value="KY">KY</option>
                                        <option value="LA">LA</option>
                                        <option value="MA">MA</option>
                                        <option value="MD">MD</option>
                                        <option value="ME">ME</option>
                                        <option value="MI">MI</option>
                                        <option value="MN">MN</option>
                                        <option value="MO">MO</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="NC">NC</option>
                                        <option value="ND">ND</option>
                                        <option value="NE">NE</option>
                                        <option value="NH">NH</option>
                                        <option value="NJ">NJ</option>
                                        <option value="NM">NM</option>
                                        <option value="NV">NV</option>
                                        <option value="NY">NY</option>
                                        <option value="OH">OH</option>
                                        <option value="OK">OK</option>
                                        <option value="OR">OR</option>
                                        <option value="PA">PA</option>
                                        <option value="RI">RI</option>
                                        <option value="SC">SC</option>
                                        <option value="SD">SD</option>
                                        <option value="TN">TN</option>
                                        <option value="TX">TX</option>
                                        <option value="UT">UT</option>
                                        <option value="VA">VA</option>
                                        <option value="VT">VT</option>
                                        <option value="WA">WA</option>
                                        <option value="WI">WI</option>
                                        <option value="WV">WV</option>
                                        <option value="WY">WY</option>
                                        <option value="999">Outside US</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Zip Code:</label>
                                <div class="col">
                                    <input type="text" placeholder="Zip Code" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Phone:</label>
                                <div class="col">
                                    <input type="text" placeholder="Phone" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Fax:</label>
                                <div class="col">
                                    <input type="text" placeholder="Fax" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Cell Phone:</label>
                                <div class="col">
                                    <input type="text" placeholder="Cell Phone" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>


                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Password:</label>
                                <div class="col">
                                    <input type="text" placeholder="Password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-row mb-3">
                                <label class="col-sm-3 col-form-label">Verify Password:</label>
                                <div class="col">
                                    <input type="text" placeholder="Verify Password" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row mb-3">
                                <label for="businessType" class="col-sm-3 col-form-label">Business Type:</label>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="unionCheckbox" value="Union">
                                        <label class="form-check-label" for="unionCheckbox">Union</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="mwbeCheckbox" value="true">
                                        <label class="form-check-label" for="mwbeCheckbox">M/WBE</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="businessType" class="form-label">Business Type:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="businessType" id="designer" value="Designer">
                                    <label class="form-check-label" for="designer">Designer - Architect/Engineer/PM/OPM Firms</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="businessType" id="generalContractor" value="General Contractor">
                                    <label class="form-check-label" for="generalContractor">General Contractor - CM/PM/OPM/Design Build Firms</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="businessType" id="contractor" value="Contractor">
                                    <label class="form-check-label" for="contractor">Contractor</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="businessType" id="supplier" value="Supplier">
                                    <label class="form-check-label" for="supplier">Supplier</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="businessType" id="reprographer" value="Reprographer">
                                    <label class="form-check-label" for="reprographer">Reprographer</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="businessType" id="newsBulletin" value="News Bulletin">
                                    <label class="form-check-label" for="newsBulletin">News Bulletin</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="businessType" id="other" value="Other">
                                    <label class="form-check-label" for="other">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

</div>